<html> 
<head>
<title> MIS lab assignment </title> 
</head>
<body text="#000000" link="#0000FF" vlink="#000099" alink="#000000">
<h1> hello world </h1>
<p> a whole paragraph goes right here </p>
<p> The second paragraph goes here </p> 
<h1> The largest </h1>
<h2> ... </h2>
<h3> ... </h3> 
<h4> ... </h4> 
<h5> ... </h5> 
<h6> The smallest </h6>

<h1 align=left> left-aligned heading </h1> 
<h1 align=center> centered heading </h1>
<h1 align = right> right-aligned heading </h1>

<table border = "1">
<tr>
	<td> cell 1 </td>
	<td> cell 2 </td>
	<td> cell 3 </td>
</tr>

<tr>
	<td> cell 1 </td>
	<td> cell 2 </td>
	<td> cell 3 </td>
</tr>
</table>

Lions 
Tigers
Bears 
Oh, My! 
<ul>
Lions 
Tigers
Bears 
Oh, My! 
</ul>
<ul>
	<li> lions
	<li> tigers
	<li> bears 
	<li> oh, my!
</ul>

<ol>
	<li> lions 
	<li> tigers 
	<li> bears 
	<li> oh, my! 
</ol>
<p><b> This is the <i> end of a <del>paragraph</del> </i>, also uses boldface </b></p>
<p> This is the beginning of the following paragraph. 
<p> Long passages of text should often be broken into sections with
headings and, optionally, horizontal rules.</p>
<hr>
<h3> a heading also breaks up text </h3>
<p> a new long passage can continue here </p>

<p> 
There once was an HTML writer, <br> 
Who tried to make paragraphs wider. <br> 
She found with a shock <br> All the tags did mock <br>
The attempt to move that text outside. <br> 
</p>

<p> 
There once was an HTML writer,  
Who tried to make paragraphs wider. 
She found with a shock <br> All the tags did mock   
The attempt to move that text outside.   
</p>

<p style="color:red"> This is a paragraph </p>
<p style="color:blue"> This is another paragraph </p> 

<p style="font-family: verdana"> This is a paragraph </p> 
<p style="font-family: 'Courier New' ">Another paragraph </p>

<p style="font-size:30px"> This is a paragraph. </p> 
<p style="font-size:11px"> This is another paragraph. </p> 

<a href="http://www.snu.ac.kr" target="__blank"> Seoul National University </a>
<br>
<a href="mailto:woojecho@snu.ac.kr"> Contact Me </a>
<br>
<img src="C:\Users\은송\Downloads\logo_2x.png"> 
<br>
<img src="https://cba.snu.ac.kr/new-main/img/logo_2x.png">

<br>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Rcagb_psrbs"
framborder="0" allowfullscreen> </iframe> 

<br>
<audio controls>
	<source src="C:\Users\은송\Downloads\Kalimba.mp3" type="audio/mpeg">
Your browser does not support the audio element
</audio>
</body>
</html>