<html> 
    <style>
      p {
        font-size: 20px;
      }
      .a {
        text-indent: 2em;
      }
      .b {
        text-indent: -2em;
      }
      .c {
        text-indent: -2em;
        margin-left: 2em;
      }
    </style>
<h1 align="center"> Jung Eunsong </h1> 
<p class="c"> Welcome to my space! This is a brief introduction about myself! </p>
<hr>
<h3> 
<ul>
<li> SNU BIZ </li>
<li> 25 yrs old </li> 
<li> Learning MIS </li> 
<li> Female </li>
</h3>
<hr> 
<p class="c"> Following are links to other pages  </p>
<hr> 
<ul>
<li><a href="http://www.snu.ac.kr">Movie Recommendation </a></li> 
<li><a href="http://www.snu.ac.kr">Song Recommendation </a></li> 
<li><a href="http://www.snu.ac.kr">Book Recommendation </a></li>
<li><a href="http://www.snu.ac.kr">City Recommendation </a></li>
<li><a href="http://www.snu.ac.kr">App Recommendation </a></li>
</ul>







</html>